@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

h2 {
    color:#D3573C;
    font-size: 3em;
    margin:0;
}

h3 {
    color : #901C1C;
    height: 16px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.price{
    color : #525252;
    opacity: 0.75;
}

.identity{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;

}

.identity img{
    transform: scale(1.2);
    object-fit: cover;
}


.photographerId{
    width: 400px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.presentation{
    text-align: center;
    margin-top:-10%;
}

.photographer-description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.photographer-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.photograph-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.filter-div{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    width:400px;
}

.filter-menu{
    display:none;
    position:absolute;
    z-index:1;
    height:auto;
    background-color: #901C1C;
    color:white;
    margin-left: 100px;
    margin-top:10px;
}

#filter-button{
    height: 36px;
    font-size:20px;
    font-weight:bold;
    border: none;
    background-color: white;
    margin-top:15px;
}

.filter-div:hover .filter-menu {
    display: block;
}

.filter-menu li{
    padding: 10px;
    list-style-type: none;
    margin-right: 30px;
    text-align: center;
}

hr{
    width: 70%;
    margin:0;
}

.media-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    justify-content:space-between;
}

.media-article{
    width: 400px;
    margin : 20px;
}

.media-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.media-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media-likes{
    color: #901C1C;
    height: 16px;
    display: flex;
    flex-direction: row;
}

.media-likes p{
    margin-right: 10px;
}

.heart{
    transform: scale(1.8);
    margin-top: 5px;
    text-decoration: none;
    color: #901C1C;
}

.displayVideo{
    width: 800px;
    margin-top: 100px;
}

full-media{
    width: 800px;
    height:800px
}

#message{
    width:100%;
    height: 200px;
}

.error{
    color: red;
}

::placeholder{
    font-size: 24px;
    padding-left: 25px;
    color: black;
}

.hidden{
    display: none;

}
